<h1>Here is your short link:</h1>
<br>
<p>
  Shortened URL: <%= link_to unshort_url(@link.short_url), unshort_url(@link.short_url), id: 'shortUrl' %>
</p>
<a href="#" class="btn btn-success" role="button" id="copyButton">Copy</a>
<br>
<br>
<p>
  Will expire at: <%= @link.expires_at %>
</p>
<p>
  Visited so far: <%= @link.visit_count %>
</p>
<a href="/">Get back to main page</a>